# python -m venv venv
# venv/Scripts/activate
# pip install -r requirements.txt

##textwrap
#typing
#agno
#pydantic
#rich


dotenv
openai
mistralai
duckduckgo-search
yfinance 
lancedb 
tantivy 
pypdf 
requests 
exa-py 
newspaper4k 
lxml_html_clean
sqlalchemy
firecrawl-py
crawl4ai
agno